<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StarsDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>55FC4AF31CE9B3240012558B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55FC4B0C1CE9B3240012558B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55FC4B171CE9B3240012558B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
